* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background-color:rgb(218, 35, 99);
    color:white;
}

.table-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

th, td{
    padding: 12px;
    border: 1px solid #ddd;
}
table{
     background-image: linear-gradient(rgb(233, 165, 165),rgb(253, 95, 122),rgb(217, 94, 94),rgb(244, 244, 75));
    width: 900px;
    height: 300px;
    table-layout: fixed;
    text-align: center;
    border: 1px #fff;
    border-collapse: collapse;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
